<th:block xmlns:th="http://www.thymeleaf.org">

    <a class="nav-link text-black-50 active h5" href="/home">Insurance DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <th:block th:if="${session.isEmpty()}">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-black-50 active h5" href="/users/login-form">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-black-50 active h5" href="/users/register-form">Register</a>
                </li>
            </ul>
        </div>

    </th:block>

    <th:block th:unless="${session.isEmpty()}">

        <a class="nav-link text-black-50 active h5" href="/policies/add-policy">Add Policy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-link text-black-50 active h5" href="/all-clients">All Clients</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-black-50 active h5" href="/users/logout">Logout</a>
                </li>
            </ul>
        </div>

    </th:block>
</th:block>