<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/common/head}"></th:block>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{/common/nav-bar}"></th:block>
    </nav>
</header>

<div class="error-page text-center">
    <div>
        <h3 th:text="${message}" style="color: darkred"></h3>
    </div>

    <!--банално, но не успях да намеря по забавни картинки-->

    <div class="text-center">
        <img th:src="'https://http.cat/' + ${getStatusCode}" alt="Cat">
    </div>

    <p>Let's go <a href="/home">home</a> and try from there.</p></div>
</div>

<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/common/footer}"></th:block>
</footer>

</body>
</html>