<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/common/head}"></th:block>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{/common/nav-bar}"></th:block>
    </nav>
</header>

<table class="table">
    <h1 class="text-black-50 text-center">All Policies</h1>
    <hr class="hr-2 bg-dark w-75">
    <thead>
    <tr>
        <th> Policy Number</th>
        <th> Client's name</th>
        <th> Car DKN</th>
        <th> Car Insured Value</th>
        <th> Policy starts</th>
        <th> Policy ends</th>
        <th> Premium</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allpolicies.empty}">
        <td class="text-center"> No Policy Available</td>
    </tr>
    <tr th:each="policy : ${allpolicies}"
        th:style="${iStat.odd} ? 'background: #f0f0f2;' : 'background: #ffffff;'">

        <td><span th:text="${policy.policyNumber}"> Policy Number </span></td>
        <td><span th:text="${policy.client.firstName} + ' ' + ${policy.client.lastName}"> Client's name </span></td>
        <td><span th:text="${policy.car.DKN}"> DKN </span></td>
        <td><span th:text="${policy.insuredValue}"> Insured Value </span></td>
        <td><span th:text="${#temporals.format(policy.startDate, 'dd-MMM-yyyy')}"> Policy starts </span></td>
        <td><span th:text="${#temporals.format(policy.endDate, 'dd-MMM-yyyy')}"> Policy ends </span></td>
        <td><span th:text="${policy.premium}"> Premium </span></td>
        <td>
            <a class="text-dark text-center" th:href="@{/policies/edit/{id}(id=${policy.policyNumber})}">edit</a>
        </td>
        <td>
            <a class="text-dark text-center"
               th:href="@{/policies/delete/{id}(id=${policy.policyNumber})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>

<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/common/footer}"></th:block>
</footer>

</body>
</html>